.Tweetform-form {
    background-color: rgb(199, 240, 206);
    color: darkslategray;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 40px auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    font-family: 'Noto Sans', sans-serif;
}

.Tweetform-form > legend {
    align-self: flex-start;
    width: 100%;
    color: #feffef;
    background-color: #b0e1dc;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    font-size: 30px;
    padding: 5px 0;

}

.Tweetform-inputs {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.Tweetform-inputs > textarea {
    border: 0;
    resize: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
    color: darkslategray;
    letter-spacing: 2px;
    overflow-y: hidden; 
    margin-bottom: 20px;
    animation: typing 4.5s steps(40, end);
    text-align: center;
}

.Tweetform-inputs > button {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    border: 0px;
    background-color: #d9cae6;
    color: #feffef;
    border-radius: 7px;
    padding: 8px;
    transition: background-color 0.15s linear;
}

.Tweetform-inputs > button:hover {
    background-color: #d3b8eb;
    cursor: pointer;
}